body {
    text-align: center; 
    color: #000f08;
    font-family: 'Open Sans', sans-serif; /* esta es la propiedad que añadimos */
    }
    body * 
{ 
    margin: 0; 
    border: 0; 
   padding: 0;
   }
     
h1 {
    font-weight: 800;
    font-size: 3.4em; /* esta es la propiedad que añadimos */ 
    margin-bottom: 0.25em; /* esta es la propiedad que añadimos */
   }    
h2 {
    font-weight: 700; 
    font-size: 2.5em;
    }
h3 {
    font-size: 2em;
    }
h4 {
    font-size: 1.75em;
    }
h5 {
    font-size: 1.25em;
    }
.subtitulo, h4, h5 { 
    font-weight: 400;
    }
#ubicacion h2 { 
    margin: 1em auto;
    }
.sweet-brown h3, .sweet-brown h5 {
    margin-bottom: 0.5em; /* Aquí se puede ver el ejemplo claro de cómo los em están condicionados por
    el elemento padre */
    }
#eventos h2 { 
        margin-bottom: 1em;
    }
#eventos h3 { 
        margin: 1em auto;
    }
.oscuro {
    background: #000f08; 
    color: #ffffff;
    }
     
.oscuro a{
    color: #ffffff; 
    text-decoration: none;
    }
     
.sweet-brown { 
    text-align: left; 
    background: #a4452c; 
    color: #ffffff;
    padding: 3.125rem; /* esta es la propiedad que añadimos */
    white-space: nowrap; /* esta es la propiedad que añadimos */
}
.hero-section {
    text-align: right;
    background-image: url('../img/bg-hero.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070; /* Esta línea la pasamos a em */
    padding: 6.25rem 3.125rem 3.125rem 3.125rem;/*Comando para indicar las dimensiones padding de las imagenes*/
}

section, footer { 
    margin-top: 4.5rem;
    }
footer { 
    padding: 3.125rem;
    }
.centrado { 
    width: 75%; 
    margin: 0 auto;
    }
.charla-speaker, .charla-texto, .evento { 
    display: inline-block;
    }
.charla-speaker{ 
    width: 25%;
    vertical-align: middle; /* esta es la propiedad que añadimos */
    }
.charla-texto { 
    width: 72.5%;
    vertical-align: middle; /* esta es la propiedad que añadimos */
    margin-left: 2.5%; /* esta es la propiedad que añadimos */
    white-space: normal; /* esta es la propiedad que añadimos */
    } 
.evento{
    width: 30%;
}
.evento img{
    width: 75%;
}
nav {
    text-align: left;
    padding: 1.25rem 4rem;
    position: fixed; /* esta es la propiedad que añadimos para que quede la barra arriba sin que desaparezca */
    width: 100vw; /* esta es la propiedad que añadimos para indicarle el tamaño*/
    }
nav ul { 
    list-style-type: none;
    }
nav ul li {
    display: inline-block; 
    margin: 0 1em;
    vertical-align: middle; /* esta es la propiedad que añadimos */
    }
.content{
    text-align: center;
    padding: 8rem;
}
.titulo2{
margin-top: 5rem;
}
.icono { width: 2rem;
}
.icono svg { 
    fill: #ffffff;
}
footer i {
    margin: 0 0.25em 0.5em 0.25em;
    }
.parrafo{
    padding: 20rem;
}
.titulo2{
    padding: 10rem;
}